---
---

// globals
:root {
  --spacing-company: 8rem;
  --font-weight: 400;
  --border-radius: 5px;
  --font-family: 'iAWriterDuoS', sans-serif;
  --box-shadow: #444 2px 3px;
}

// type
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Bold.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-Italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Italic.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: Italic;
}
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: bold;
  font-style: italic;
}

a {
  cursor: pointer;
}

h2,
h3,
hgroup> :last-child {
  font-weight: 200;
}

small {
  color: var(--muted-color);
}

form.grid {
  grid-row-gap: 0;
}

// .container {
//   margin-left: 1em;
//   margin-right:1em;
// }

// /global

/* Nav */
summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--contrast-hover);
}

// chattask
.chattask {
  background-image:linear-gradient(to right, rgba(255, 255, 255, 0.797), rgba(255, 255, 255, 0)), url('https://source.unsplash.com/tZc3vjPCk-Q');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  height: 80vh;
}

.chattask header {
  padding: var(--spacing-company) 0;
}
.chattask header hgroup {
  max-width: 50%;
}
.chattask header hgroup> :last-child {
  color: var(--h3-color);
}

.chattask header hgroup {
  margin-bottom: var(--spacing-company);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}

// VerbNoun
.verbnoun {
  background-image:linear-gradient(to right, rgba(255, 255, 255, 0.797), rgba(255, 255, 255, 0)), url('/img/take1.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  height: 80vh;
}

.verbnoun header {
  padding: var(--spacing-company) 0;
}
.verbnoun header hgroup {
  max-width: 50%;
}
.verbnoun header hgroup> :last-child {
  color: var(--h3-color);
}

.verbnoun header hgroup {
  margin-bottom: var(--spacing-company);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}
