---
---
/* Global CSS variables */
:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 5px;
  --font-family: 'iAWriterDuoS', sans-serif;
  --box-shadow: #444 2px 3px;
}

/* Typography */
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-Italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: Italic;
}
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}

h2,
h3,
hgroup> :last-child {
  font-weight: 200;
}

small {
  color: var(--muted-color);
}

/* Header */
.hero {
  background-color: #394046;
  background-image: url("/img/take1.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  min-height: 80vh;
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup> :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

/* Nav */
summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--contrast-hover);
}

/* Main */


form.grid {
  grid-row-gap: 0;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}

aside p {
  margin-bottom: var(--spacing-company);
  line-height: 1.25;
}

.post-hero {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

article {
  box-shadow: var(--box-shadow);
  background-color: rgba(243, 255, 247, 1);
}

a {
  cursor: pointer;
}

/* breakpoints */



// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  
}
