---
---

// globals
:root {
  // --font-weight: 400;
  --font-family: 'iAWriterDuoS', sans-serif;
}

// type
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Bold.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-Italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-Italic.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: Italic;
}
@font-face {
  font-family: 'iAWriterDuoS';
  src: url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/iawriterduos/iAWriterDuoS-BoldItalic.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: bold;
  font-style: italic;
}

a {
  cursor: pointer;
}

h2,
h3,
hgroup> :last-child {
  font-weight: 200;
}

section {
  margin: 0;
  padding-top: 3em;
  padding-bottom: 3em;
}
sup {
  font-size: .5rem;
}
.txtbg {
  position: relative;
  overflow: hidden;
  /* Add other styling as needed, like width and height */
}

.bgtxt {
  position: absolute;
  top: -2rem;
  left: 0;
  font-size: 10rem; /* Adjust as needed */
  z-index: -1;
  color: rgb(19, 28, 35);
  font-weight: 900;
  // letter-spacing: -2.5rem;
  line-height: 1em;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}



// /global



// Portfolio items

// chattask
.chattask {
  background-image:linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('https://source.unsplash.com/tZc3vjPCk-Q');
  background-position: center;
  background-size: cover;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}

// VerbNoun
.verbnoun {
  background-image:linear-gradient(to right, rgba(255, 255, 255, 0.797), rgba(255, 255, 255, 0)), url('/img/take1.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}
